html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.the-word{
  font-family: 'Coustard', serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50%;

  color: #ffffff;
  font-size: 100px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.fade-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

ul.album-list {
  list-style: none;
  padding: 0px;
  margin: -14px 0 0 0;
  width: 135%;
}

li.cover {
  position: relative;
  width: 300px;
  display: block;
  height: 300px;
  padding: 0;
  line-height: 0;
  float: left;
}
